<div class="card-sul">

  <div class="menu">
    <ul>
      <li class="menu-item"><a href="/acre">Paraná</a>
        <ul class="sub-menu">
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
        </ul>
      </li>
    </ul>

    <ul>
      <li class="menu-item"><a href="/amazonas">Rio Grande do Sul</a>
        <ul class="sub-menu">
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
        </ul>
      </li>
    </ul>

    <ul>
      <li class="menu-item"><a href="/amapa">Santa Catarina</a>
        <ul class="sub-menu">
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
        </ul>
      </li>
    </ul>



  </div>

  <div class="exp-sul">
    <h1>EXPRESSAO SUL</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt nulla numquam iure sit. Autem, blanditiis. Explicabo libero in amet sapiente quos, hic ipsum impedit minus incidunt nobis, minima quidem ut.</p>
  </div>

  <div class="mapa-nordeste">
    <%= image_tag("mapa_norte.png", width: 200) %>
  </div>

</div>
