<div class="cards-regions">

  <div class="menu">
    <ul>
      <li class="menu-item"><a href="/acre">Acre</a>

      </li>
    </ul>

    <ul>
      <li class="menu-item"><a href="/amazonas">Amazonas</a>
        <ul class="sub-menu">
          <li class="menu-item"><a href="#0">Ritmo1</a></li>
          <li class="menu-item"><a href="#0">Ritmo2</a></li>
          <li class="menu-item"><a href="#0">Ritmo3</a></li>
        </ul>
      </li>
    </ul>

    <ul>
      <li class="menu-item"><a href="/amapa">Amapá</a>
        <ul class="sub-menu">
          <li class="menu-item"><a href="#0">Ritmo1</a></li>
          <li class="menu-item"><a href="#0">Ritmo2</a></li>
          <li class="menu-item"><a href="#0">Ritmo3</a></li>
        </ul>
      </li>
    </ul>

    <ul>
      <li class="menu-item"><a href="/para">Pará</a>
        <ul class="sub-menu">
          <li class="menu-item"><a href="#0">Tupinambá</a></li>
          <li class="menu-item"><a href="#0">Tecnobrega</a></li>
          <li class="menu-item"><a href="#0">Boi-bumbá</a></li>
        </ul>
      </li>
    </ul>

    <ul>
      <li class="menu-item"><a href="/rondonia">Rondônia</a>
        <ul class="sub-menu">
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
        </ul>
      </li>
    </ul>


    <ul>
      <li class="menu-item"><a href="/roraima">Rorãima</a>
        <ul class="sub-menu">
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
        </ul>
      </li>
    </ul>

    <ul>
      <li class="menu-item"><a href="/tocantis">Tocantis</a>
        <ul class="sub-menu">
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
        </ul>
      </li>
    </ul>


  </div>

  <div>
    <nav>
      <a href="acre1">Ritmo 1</a>
      <a href="acre2">Ritmo 2</a>
      <a href="#">Ritmo 3</a>
      <div id="indicator"></div>
    </nav>
  </div>





</div>
