<div>
  <h3 class='navbar__item'>Ritu<i class='fas fa-drum'></i></h3>
</div>

<nav class="menu">
  <ol>
    <li class="menu-item"><a href="#0">Apresentação</a></li>
    <li class="menu-item"><a href="/norte">Norte</a></li>
    <li class="menu-item"><a href="#0">Nordeste</a></li>
    <li class="menu-item"><a href="#0">Centro Oeste</a></li>
    <li class="menu-item"><a href="#0">Sudeste</a></li>
    <li class="menu-item"><a href="#0">Sul</a></li>
  </ol>
</nav>
