.cards-regions {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr;
  grid-gap: 16px;

}

.cards-regions-rit {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;

}

.card-norte {
  display: flex;
  align-items: center;
}



.card-nordeste {
  display: flex;
  align-items: center;
}

.card-centroeste {
  display: flex;
  align-items: center;
}

.card-sudeste {
  display: flex;
  align-items: center;
}

.card-sul {
  display: flex;
  align-items: center;
}
