<div class="card-norte">

  <div class="menu">
    <ol>
      <li class="menu-item"><a href="/acre">Acre</a>
        <ol class="sub-menu">
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
        </ol>
      </li>
    </ol>

    <ol>
      <li class="menu-item"><a href="/amazonas">Amazonas</a>
        <ol class="sub-menu">
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
        </ol>
      </li>
    </ol>

    <ol>
      <li class="menu-item"><a href="/amapa">Amapá</a>
        <ol class="sub-menu">
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
        </ol>
      </li>
    </ol>

    <ol>
      <li class="menu-item"><a href="/para">Pará</a>
        <ol class="sub-menu">
          <li class="menu-item"><a href="#0">Tupinambá</a></li>
          <li class="menu-item"><a href="#0">Tecnobrega</a></li>
          <li class="menu-item"><a href="#0">Boi-bumbá</a></li>
        </ol>
      </li>
    </ol>

    <ol>
      <li class="menu-item"><a href="/rondonia">Rondônia</a>
        <ol class="sub-menu">
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
        </ol>
      </li>
    </ol>


    <ol>
      <li class="menu-item"><a href="/roraima">Rorãima</a>
        <ol class="sub-menu">
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
        </ol>
      </li>
    </ol>

    <ol>
      <li class="menu-item"><a href="/tocantis">Tocantis</a>
        <ol class="sub-menu">
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
        </ol>
      </li>
    </ol>


  </div>

  <div class="exp-norte">
    <h1>DE ROCHA, ÉGUA DE LARGURA</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt nulla numquam iure sit. Autem, blanditiis. Explicabo libero in amet sapiente quos, hic ipsum impedit minus incidunt nobis, minima quidem ut.</p>
  </div>

  <div class="mapa-norte">
    <%= image_tag("mapa_norte.png", width: 200) %>
  </div>

</div>
