<div class="card-nordeste">

  <div class="menu">
    <ul>
      <li class="menu-item"><a href="/acre">Alagoas</a>
        <ul class="sub-menu">
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
        </ul>
      </li>
    </ul>

    <ul>
      <li class="menu-item"><a href="/amazonas">Bahia</a>
        <ul class="sub-menu">
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
        </ul>
      </li>
    </ul>

    <ul>
      <li class="menu-item"><a href="/amapa">Ceará</a>
        <ul class="sub-menu">
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
        </ul>
      </li>
    </ul>

    <ul>
      <li class="menu-item"><a href="/para">Maranhão</a>
        <ul class="sub-menu">
          <li class="menu-item"><a href="#0">Ritmo1</a></li>
          <li class="menu-item"><a href="#0">Ritmo2</a></li>
          <li class="menu-item"><a href="#0">Ritmo3</a></li>
        </ul>
      </li>
    </ul>

    <ul>
      <li class="menu-item"><a href="/rondonia">Paraíba</a>
        <ul class="sub-menu">
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
        </ul>
      </li>
    </ul>


    <ul>
      <li class="menu-item"><a href="/roraima">Pernambuco</a>
        <ul class="sub-menu">
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
        </ul>
      </li>
    </ul>

    <ul>
      <li class="menu-item"><a href="/tocantis">Piauí</a>
        <ul class="sub-menu">
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
        </ul>
      </li>
    </ul>

    <ul>
      <li class="menu-item"><a href="/tocantis">Rio Grande do Norte</a>
        <ul class="sub-menu">
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
        </ul>
      </li>
    </ul>

    <ul>
      <li class="menu-item"><a href="/tocantis">Sergipe</a>
        <ul class="sub-menu">
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
          <li class="menu-item"><a href="#0"></a></li>
        </ul>
      </li>
    </ul>

  </div>

  <div class="exp-nordeste">
    <h1>EXPRESSAO NORDESTINA</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt nulla numquam iure sit. Autem, blanditiis. Explicabo libero in amet sapiente quos, hic ipsum impedit minus incidunt nobis, minima quidem ut.</p>
  </div>

  <div class="mapa-nordeste">
    <%= image_tag("mapa_norte.png", width: 200) %>
  </div>

</div>
